<p-table #myTab [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [value]="roles"
  [globalFilterFields]="['Name', 'City', 'PhoneNo', 'StartTime', 'CloseTime', 'BreakStartTime', 'BreakEndTime', 'Rooms']"
  [tableStyle]="{ 'width': 'max' }" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5, 10, 25, 50]"
  paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
  paginatorLocale="en-US">
  
  <!-- Caption Template -->
  <ng-template pTemplate="caption">
    <div class="tablehead">
      <button pButton label="Clear" class="p-button-outlined clearbtn" icon="pi pi-filter-slash" (click)="clear(myTab)"></button>

      <!-- <p-multiSelect [options]="availableColumns" formControlName="selectedColumns" defaultLabel="Choose Columns"
                     optionLabel="header" styleClass="p-column-filter"></p-multiSelect> -->
      <button pButton type="button" label="Add Role" icon="pi pi-plus" (click)="onAdd()" [outlined]="true"
              class="clearbtn"></button>
    </div>
  </ng-template>
  
  <!-- Header Template -->
  <ng-template pTemplate="header">
    <tr class="header-row">
      <th class="table-head" pSortableColumn="Name" style="min-width: 14rem">
        <div class="flex justify-content-between align-items-center">
          Name
          <p-sortIcon field="Name"></p-sortIcon>
          <p-columnFilter type="text" field="Name" display="menu" class="ml-auto"></p-columnFilter>
        </div>
      </th>
      <!-- <th class="table-head" pSortableColumn="employeerole" style="min-width: 14rem">
        <div class="flex justify-content-between align-items-center">
          employeerole
          <p-sortIcon field="employeerole"></p-sortIcon>
          <p-columnFilter type="text" field="employeerole" display="menu" class="ml-auto"></p-columnFilter>
        </div>
      </th> -->
      <th class="table-head" pSortableColumn="IsActive" style="min-width: 12rem">
        <div class="flex justify-content-between align-items-center">
          Is Active
          <p-sortIcon field="IsActive"></p-sortIcon>
          <p-columnFilter type="text" field="IsActive" display="menu" class="ml-auto"></p-columnFilter>
        </div>
      </th>
      <th class="table-head" pSortableColumn="CreatedAt" style="min-width: 14rem">
        <div class="flex justify-content-between align-items-center">
          Created Date
          <p-sortIcon field="CreatedAt"></p-sortIcon>
          <p-columnFilter type="text" field="CreatedAt" display="menu" class="ml-auto"></p-columnFilter>
        </div>
      </th>
      <th class="table-head" pSortableColumn="CreatedByName" style="min-width: 14rem">
        <div class="flex justify-content-between align-items-center">
          Created By
          <p-sortIcon field="CreatedByName"></p-sortIcon>
          <p-columnFilter type="text" field="CreatedByName" display="menu" class="ml-auto"></p-columnFilter>
        </div>
      </th>
      <th class="table-head" pSortableColumn="UpdatedAt" style="min-width: 14rem">
        <div class="flex justify-content-between align-items-center">
          Updated Date
          <p-sortIcon field="UpdatedAt"></p-sortIcon>
          <p-columnFilter type="text" field="UpdatedAt" display="menu" class="ml-auto"></p-columnFilter>
        </div>
      </th>
      <th class="table-head" pSortableColumn="UpdatedByName" style="min-width: 14rem">
        <div class="flex justify-content-between align-items-center">
          Updated By
          <p-sortIcon field="UpdatedByName"></p-sortIcon>
          <p-columnFilter type="text" field="UpdatedByName" display="menu" class="ml-auto"></p-columnFilter>
        </div>
      </th>
      <th class="table-head">Actions</th>

    </tr>
  </ng-template>
  
  <!-- Body Template -->
  <!-- Body Template -->
<ng-template pTemplate="body" let-roles>
  <tr>
    <td>{{ roles.Name }}</td>
    <!-- <td>{{ roles.employeerole }}</td> -->
    <td>
      <p-checkbox [binary]="true" class="isactivecol" [(ngModel)]="roles.IsActive"></p-checkbox>
  </td>    <td>{{ roles.CreatedAt }}</td>
    <td>{{ roles.CreatedByName }}</td>
    <td>{{ roles.UpdatedAt }}</td>
    <td>{{ roles.UpdatedByName }}</td>
   
    <td>
      <div class="d-flex">
        <button class="btn" pTooltip="Edit" tooltipPosition="top" (click)="onEdit()">
            <i class="pi pi-pencil" style="font-size: 1.2rem; color: lightslategrey"></i>
        </button> |
        <button class="btn" pTooltip="Delete" tooltipPosition="top" (click)="onDelete()">
            <i class="pi pi-trash" style="font-size: 1.2rem; color: lightslategrey"></i>
        </button>
    </div>
    </td>
  </tr>
</ng-template>

</p-table>



<p-dialog header="Roles Details" [(visible)]="showform" [style]="{width: '50vw'}">
  <div class="card_body p-5">
      <form class="row" [formGroup]="rolesForm">
          <div class="col-md-6">
              <label for="Name" class="form-label"> Name <span style="color: red;">*</span></label>
              <input type="text" pInputText class="form-control user" id="Name" formControlName="Name"
                  maxlength="20" placeholder="Enter  Name"
                  [ngClass]="{'is-invalid ng-dirty': rolesForm.controls['Name'].touched && rolesForm.controls['Name'].errors}" />
              <div
                  *ngIf="rolesForm.get('Name')?.invalid && (rolesForm.get('Name')?.dirty || rolesForm.get('Name')?.touched)">
                  <small class="p-error" *ngIf="rolesForm.get('Name')?.errors?.['required']">* First
                      Name is required.</small>
                  <small class="p-error" *ngIf="rolesForm.get('Name')?.errors?.['alphaOnly']">* Only
                      alphabets allowed.</small>
              </div>
          </div>
          <!-- <div class="col-md-6">
              <label for="employeerole" class="form-label">employeerole <span style="color: red;">*</span></label>
              <input type="text" pInputText class="form-control user" id="employeerole" formControlName="employeerole"
                  maxlength="20" placeholder="Enter employeerole"
                  [ngClass]="{'is-invalid ng-dirty': rolesForm.controls['employeerole'].touched && rolesForm.controls['employeerole'].errors}" />
              <div
                  *ngIf="rolesForm.get('employeerole')?.invalid && (rolesForm.get('employeerole')?.dirty || rolesForm.get('employeerole')?.touched)">
                  <small class="p-error" *ngIf="rolesForm.get('employeerole')?.errors?.['required']">* Last
                      Name is required.</small>
                  <small class="p-error" *ngIf="rolesForm.get('employeerole')?.errors?.['alphaOnly']">* Only
                      alphabets allowed.</small>
              </div>
          </div> -->
          <!-- <div class="col-md-6" *ngIf="isColumnSelected('CreatedAt')">
              <label for="CreatedAt" class="form-label">Created At</label>
              <input type="text" pInputText class="form-control user" id="CreatedAt" formControlName="CreatedAt"
                  maxlength="50" placeholder="Enter Created At"
                  [ngClass]="{'is-invalid ng-dirty': rolesForm.controls['CreatedAt'].touched && rolesForm.controls['CreatedAt'].errors}" />
          </div>
          <div class="col-md-6" *ngIf="isColumnSelected('UpdatedAt')">
              <label for="UpdatedAt" class="form-label">Updated At</label>
              <input type="text" pInputText class="form-control user" id="UpdatedAt" formControlName="UpdatedAt"
                  maxlength="50" placeholder="Enter Updated At"
                  [ngClass]="{'is-invalid ng-dirty': rolesForm.controls['UpdatedAt'].touched && rolesForm.controls['UpdatedAt'].errors}" />
          </div> -->
          <div class="col-md-6 d-flex align-items-center">
              <label for="IsActive" class="form-label mb-0 mr-2">Is Active</label>
              <p-checkbox formControlName="IsActive" binary="true"></p-checkbox>
          </div>
          
         
      </form>
  </div>
  <ng-template pTemplate="footer">
      <div class="d-flex flex-row justify-content-between p-3">
       <button type="button" class="btn btn-secondary" (click)="closeForm()">Cancel</button>
       <button type="submit" class="btn btn-success" [disabled]="rolesForm.invalid" (click)="submit()">Submit</button>
     </div>
   </ng-template>
</p-dialog>