<!-- <div class="col-12">
    <div class="card">
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <h4>Roles</h4>
        </ng-template>
        <ng-template pTemplate="right">
          <button pButton pRipple label="New Role" icon="pi pi-plus" class="p-button-primary p-mr-2" id="Role_addRole"
            ></button>
        </ng-template>
      </p-toolbar> -->


<p-table #myTab [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [value]="roles"
  [globalFilterFields]="['Name', 'City', 'PhoneNo', 'StartTime', 'CloseTime', 'BreakStartTime', 'BreakEndTime', 'Romms']"
  [tableStyle]="{ 'width': 'max' }" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5, 10, 25, 50]"
  paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
  paginatorLocale="en-US">
  <ng-template pTemplate="caption">
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <input type="text" pInputText size="50" placeholder="Global Filter"
        (input)="myTab.filterGlobal($any($event.target).value, 'contains')"
        style="width: 200px; border: 2px rgb(153, 153, 243) solid; border-radius: 20px; margin-right: auto;" />
      <button pButton type="button" label="Add User" icon="pi pi-plus" (click)="onAdd()" [outlined]="true"
        class="clearbtn"></button>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr class="header-row">
      <th pSortableColumn="Name" style="width:10%">Name <p-sortIcon field="Name"></p-sortIcon></th>
      <th pSortableColumn="employeerole" style="width:15%">employeerole<p-sortIcon field="employeerole"></p-sortIcon>
      </th>
      <th pSortableColumn="Isactive" style="width:10%">Isactive<p-sortIcon field="Isactive"></p-sortIcon></th>
      <th pSortableColumn="CreatedDate" style="width:10%">CreatedDate <p-sortIcon field="CreatedDate"></p-sortIcon></th>
      <th pSortableColumn="CReatedBy" style="width:10%">CReatedBy <p-sortIcon field="CReatedBy"></p-sortIcon></th>
      <th pSortableColumn="UpdatedDate" style="width:10%">UpdatedDate<p-sortIcon field="UpdatedDate"></p-sortIcon></th>
      <th pSortableColumn="UpdatedBy" style="width:10%">UpdatedBy<p-sortIcon field="UpdatedBy"></p-sortIcon></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-branch>
    <tr>
      <td>{{branch.Name}}</td>
      <td>{{branch.employeerole}}</td>
      <td>{{branch.Isactive }}</td>
      <td>{{branch.CreatedDate}}</td>
      <td>{{branch.CReatedBy}}</td>
      <td>{{branch.UpdatedDate}}</td>
      <td>{{branch.BreakEndTime}}</td>
      <td>{{branch.UpdatedBy}}</td>
    </tr>
  </ng-template>
</p-table>


<p-dialog header="Forget Password" [(visible)]="displayDialog" [style]="{width: '400px'}" [modal]="true" [closable]="true">
  <div class="d-flex justify-content-center align-items-center min-vh-100 register">
    <div class="p-4" style="width: 100%; max-width: 600px;">
      <div>
        <header class="mb-5">
          <strong>Forget Password :</strong>
        </header>
        <form class="row g-3" [formGroup]="registrationform" (ngSubmit)="submit()">
          <div class="col-md-6">
            <label for="FirstName" class="form-label">First Name <span style="color: red;">*</span></label>
            <input type="text" pInputText class="form-control" id="FirstName" formControlName="FirstName" maxlength="20"
              placeholder="Enter firstname"
              [ngClass]="{'is-invalid ng-dirty': registrationform.controls['FirstName'].touched && registrationform.controls['FirstName'].errors}" />
            <div
              *ngIf="registrationform.get('FirstName')?.invalid && (registrationform.get('FirstName')?.dirty || registrationform.get('FirstName')?.touched)">
              <small class="p-error" *ngIf="registrationform.get('FirstName')?.errors?.['required']"> First Name is
                required.</small>
              <small class="p-error" *ngIf="registrationform.get('FirstName')?.errors?.['pattern']"> Only alphabets
                allowed.</small>
            </div>
          </div>
          <div class="col-md-6">
            <label for="LastName" class="form-label">Last Name <span style="color: red;">*</span></label>
            <input type="text" pInputText class="form-control" id="LastName" formControlName="LastName" maxlength="20"
              placeholder="Enter lastname"
              [ngClass]="{'is-invalid ng-dirty': registrationform.controls['LastName'].touched && registrationform.controls['LastName'].errors}" />
            <div
              *ngIf="registrationform.get('LastName')?.invalid && (registrationform.get('LastName')?.dirty || registrationform.get('LastName')?.touched)">
              <small class="p-error" *ngIf="registrationform.get('LastName')?.errors?.['required']"> Last Name is
                required.</small>
              <small class="p-error" *ngIf="registrationform.get('LastName')?.errors?.['pattern']"> Only alphabets
                allowed.</small>
            </div>
          </div>
          <div class="col-md-6">
            <label for="MobileNumber" class="form-label">Mobile Number <span style="color: red;">*</span></label>
            <input type="text" pInputText class="form-control" id="MobileNumber" maxlength="10"
              formControlName="MobileNumber" placeholder="Enter mobile number"
              [ngClass]="{'is-invalid ng-dirty': registrationform.controls['MobileNumber'].touched && registrationform.controls['MobileNumber'].errors}" />
            <div
              *ngIf="registrationform.get('MobileNumber')?.invalid && (registrationform.get('MobileNumber')?.dirty || registrationform.get('MobileNumber')?.touched)">
              <small class="p-error" *ngIf="registrationform.get('MobileNumber')?.errors?.['required']"> Mobile Number is
                required.</small>
              <small class="p-error" *ngIf="registrationform.get('MobileNumber')?.errors?.['pattern']"> Mobile Number must
                be 10 digits.</small>
            </div>
          </div>
          <div class="col-md-6">
            <label for="Email" class="form-label">Email <span style="color: red;">*</span></label>
            <input type="email" pInputText class="form-control" id="Email" formControlName="Email"
              placeholder="Enter Email"
              [ngClass]="{'is-invalid ng-dirty': registrationform.controls['Email'].touched && registrationform.controls['Email'].errors}" />
            <div
              *ngIf="registrationform.get('Email')?.invalid && (registrationform.get('Email')?.dirty || registrationform.get('Email')?.touched)">
              <small class="p-error" *ngIf="registrationform.get('Email')?.errors?.['required']"> Email is
                required.</small>
              <small class="p-error" *ngIf="registrationform.get('Email')?.errors?.['email']"> Invalid email
                format.</small>
              <small class="p-error" *ngIf="registrationform.get('Email')?.errors?.['pattern']"> Email must be
                @gmail.com.</small>
            </div>
          </div>
          <div class="col-12 mt-5 text-center">
            <button type="submit" class="btn btn-success submit-btn" [disabled]="registrationform.invalid">
              <i class="fa fa-check fa-lg"></i> Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</p-dialog>
