<div class="card">
    <p-table #myTab [value]="products" [tableStyle]="{ 'width': '100%' }" [paginator]="true" [rows]="5"
        [showCurrentPageReport]="true"
        [globalFilterFields]="['category', 'description', 'expensedate', 'paidamount', 'paymentmode', 'aprovalstatus', 'uploaddocument']"
        [tableStyle]="{ 'width': 'max' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
        paginatorLocale="en-US">
        <ng-template pTemplate="caption">
            <div class="tablehead">
                <button pButton pRipple label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear()"
                    class="clearbtn">
                </button>
                <button pButton type="button" label="Add Expense" icon="pi pi-plus" (click)="onAdd()" [outlined]="true"
                    class="clearbtn"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="table-head" pSortableColumn="CategoryName" style="width:10%">
                    Category <p-sortIcon field="CategoryName"></p-sortIcon>
                </th>
                <th class="table-head" pSortableColumn="Description" style="width:15%">
                    Description <p-sortIcon field="Description"></p-sortIcon>
                </th>
                <th class="table-head" pSortableColumn="ExpenseDate" style="width:15%">
                    Expense Date <p-sortIcon field="ExpenseDate"></p-sortIcon>
                </th>
                <th class="table-head" pSortableColumn="Amount" style="width:15%">
                    Paid Amount <p-sortIcon field="Amount"></p-sortIcon>
                </th>
                <th class="table-head" pSortableColumn="PaymentMethodName" style="width:15%">
                    Payment Mode <p-sortIcon field="PaymentMethodName"></p-sortIcon>
                </th>
                <th class="table-head" pSortableColumn="StatusName" style="width:15%">
                    Approval Status <p-sortIcon field="StatusName"></p-sortIcon>
                </th>
                <th class="table-head">
                    Actions
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.CategoryName }}</td>
                <td>{{ product.Description }}</td>
                <td>{{ product.ExpenseDate | date:'dd-MM-yyyy'}}</td>
                <td>{{ product.Amount }}</td>
                <td>{{ product.PaymentMethodName }}</td>
                <td>{{ product.StatusName }}</td>
                <td>
                    <div class="d-flex">
                        <button class="btn" pTooltip="Edit" tooltipPosition="top" (click)="onEdit()">
                            <i class="pi pi-pencil" style="font-size: 1.2rem; color: lightslategrey"></i>
                        </button> |
                        <button class="btn" pTooltip="Delete" tooltipPosition="top" (click)="onDelete()">
                            <i class="pi pi-trash" style="font-size: 1.2rem; color: lightslategrey"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>





<p-dialog header="Expense Details" [(visible)]="showform" [style]="{width: '50vw'}">
    <div class="card_body p-5">
        <form class="row" [formGroup]="ExpenseForm">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="CategoryName" class="form-label">Category <span style="color: red;">*</span></label><br>
                    <p-dropdown formControlName="CategoryName" [options]="category" optionLabel="name" optionValue="CategoryId" appendTo="body"
                        placeholder="Select a Category" />
                    <div
                        *ngIf="ExpenseForm.get('CategoryName')?.invalid && (ExpenseForm.get('CategoryName')?.dirty || ExpenseForm.get('CategoryName')?.touched)">
                        <small class="p-error" *ngIf="ExpenseForm.get('CategoryName')?.errors?.['required']">* Category is
                            required.</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="Description" class="form-label">Description <span style="color: red;">*</span></label>
                    <input type="text" pInputText class="form-control user" id="Description"
                        formControlName="Description" maxlength="20" placeholder="Enter Description"
                        [ngClass]="{'is-invalid ng-dirty': ExpenseForm.controls['Description'].touched && ExpenseForm.controls['Description'].errors}" />
                    <div
                        *ngIf="ExpenseForm.get('Description')?.invalid && (ExpenseForm.get('Description')?.dirty || ExpenseForm.get('Description')?.touched)">
                        <small class="p-error" *ngIf="ExpenseForm.get('Description')?.errors?.['required']">*
                            Description is required.</small>
                        <small class="p-error" *ngIf="ExpenseForm.get('Description')?.errors?.['pattern']">* Only
                            alphabets allowed.</small>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="ExpenseDate" class="form-label">Expense Date <span style="color: red;">*</span></label>
                    <p-calendar formControlName="ExpenseDate" [showIcon]="true" [showOnFocus]="false"
                        placeholder="Select Expense Date" inputId="buttondisplay" appendTo="body" />
                    <div
                        *ngIf="ExpenseForm.get('ExpenseDate')?.invalid && (ExpenseForm.get('ExpenseDate')?.dirty || ExpenseForm.get('ExpenseDate')?.touched)">
                        <small class="p-error" *ngIf="ExpenseForm.get('ExpenseDate')?.errors?.['required']">* Expense
                            Date is required.</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="Amount" class="form-label">Paid Amount <span style="color: red;">*</span></label>
                    <p-inputNumber inputId="integeronly" formControlName="Amount" placeholder="Enter Paid Amount"
                        [ngClass]="{'is-invalid ng-dirty': ExpenseForm.controls['Amount'].touched && ExpenseForm.controls['Amount'].errors}" />
                    <div
                        *ngIf="ExpenseForm.get('Amount')?.invalid && (ExpenseForm.get('Amount')?.dirty || ExpenseForm.get('Amount')?.touched)">
                        <small class="p-error" *ngIf="ExpenseForm.get('Amount')?.errors?.['required']">* Paid Amount
                            is required.</small>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="PaymentMethodName" class="form-label">Payment Mode <span
                            style="color: red;">*</span></label><br>
                    <p-dropdown formControlName="PaymentMethodName" [options]="PaymentMethodName" optionLabel="PaymentMethodName" optionValue="PaymentMethodId" appendTo="body"
                        placeholder="Select a Payment Mode" />
                    <div
                        *ngIf="ExpenseForm.get('PaymentMethodName')?.invalid && (ExpenseForm.get('PaymentMethodName')?.dirty || ExpenseForm.get('PaymentMethodName')?.touched)">
                        <small class="p-error" *ngIf="ExpenseForm.get('PaymentMethodName')?.errors?.['required']">* Payment
                            Mode is required.</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="StatusName" class="form-label">Approval Status <span
                            style="color: red;">*</span></label><br>
                    <p-dropdown formControlName="StatusName" [options]="StatusName" optionLabel="name"
                        appendTo="body" placeholder="Select an Approval Status" />
                    <div
                        *ngIf="ExpenseForm.get('StatusName')?.invalid && (ExpenseForm.get('StatusName')?.dirty || ExpenseForm.get('StatusName')?.touched)">
                        <small class="p-error" *ngIf="ExpenseForm.get('StatusName')?.errors?.['required']">* Approval
                            Status is required.</small>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="uploaddocument" class="form-label">Upload Image <span
                            style="color: red;">*</span></label>
                    <p-toast></p-toast>
                    <p-fileUpload mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="demo[]"
                        url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000"
                        (onUpload)="onBasicUploadAuto($event)" />
                    <div
                        *ngIf="ExpenseForm.get('uploaddocument')?.invalid && (ExpenseForm.get('uploaddocument')?.dirty || ExpenseForm.get('uploaddocument')?.touched)">
                        <small class="p-error" *ngIf="ExpenseForm.get('uploaddocument')?.errors?.['required']">* Upload
                            Image is required.</small>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <div class="d-flex flex-row justify-content-between p-3">
            <button type="button" class="btn btn-secondary" (click)="closeForm()">Cancel</button>
            <button type="submit" class="btn btn-success" (click)="onsubmit()">Submit</button>
        </div>
    </ng-template>
</p-dialog>