<div class="d-flex justify-content-center align-items-center min-vh-100 register">
  <div class="p-4" style="width: 100%; max-width: 600px;">
    <div>
      <header class="mb-5">
        <strong>Forget Password :</strong>
      </header>
      <form class="row g-3" [formGroup]="registrationform" (ngSubmit)="submit()">
        <div class="col-md-4">
          <label for="UserName" class="form-label">User Name <span style="color: red;">*</span></label>
          <input type="text" pInputText class="form-control user" id="UserName"
                 formControlName="UserName" maxlength="20" placeholder="Enter username"
                 [ngClass]="{'is-invalid ng-dirty': registrationform.controls['UserName'].touched && registrationform.controls['UserName'].errors}" />
          <div *ngIf="registrationform.get('UserName')?.invalid && (registrationform.get('UserName')?.dirty || registrationform.get('UserName')?.touched)">
            <small class="p-error" *ngIf="registrationform.get('UserName')?.errors?.['required']">* First Name is required.</small>
            <small class="p-error" *ngIf="registrationform.get('UserName')?.errors?.['alphaOnly']">* Only alphabets allowed.</small>
          </div>
        </div>
        <div class="col-md-4">
          <label for="Password" class="form-label">Password <span style="color: red;">*</span></label>
          <input type="password" pInputText class="form-control password" id="Password" formControlName="Password" maxlength="15"
                 placeholder="Enter password"
                 [ngClass]="{'is-invalid ng-dirty': registrationform.controls['Password'].touched && registrationform.controls['Password'].errors}" />
          <div *ngIf="registrationform.get('Password')?.invalid && (registrationform.get('Password')?.dirty || registrationform.get('Password')?.touched)">
            <small class="p-error" *ngIf="registrationform.get('Password')?.errors?.['required']">* Password is required.</small>
          </div>
        </div>
        <div class="col-md-4">
          <label for="Confirmpassword" class="form-label cnfpassword">Confirm Password<span style="color: red;">*</span></label>
          <input type="password" pInputText class="form-control" id="Confirmpassword" formControlName="Confirmpassword" maxlength="15"
                 placeholder="Confirm Password"
                 [ngClass]="{'is-invalid ng-dirty': registrationform.controls['Confirmpassword'].touched && registrationform.controls['Confirmpassword'].errors}" />
          <div *ngIf="registrationform.get('Confirmpassword')?.invalid && (registrationform.get('Confirmpassword')?.dirty || registrationform.get('Confirmpassword')?.touched)">
            <small class="p-error" *ngIf="registrationform.get('Confirmpassword')?.errors?.['required']">* Confirm Password is required.</small>
          </div>
        </div>
        
        <div class="col-12 mt-5 text-center">
          <button type="submit" class="btn btn-success submit-btn" [disabled]="registrationform.invalid">
            <i class="fa fa-check fa-lg"></i> Submit
          </button>
        </div>        
      </form>
    </div>
  </div>
</div>
