<div class="full-screen justify-content-center">
    <div class="screen">
        <div class="screen__content">
            <form class="login" (ngSubmit)="onSignIn()" #loginForm="ngForm">
                <h2 class="logo">Login</h2>
                <div class="login__field">
                    <!-- <i class="login__icon fas fa-user"></i> -->
                    <!-- <input type="text" class="login__input" placeholder="Email" [(ngModel)]="a" name="email" required> -->
                    <input type="text" class="user" pInputText [(ngModel)]="username" placeholder="Email" name="email"/>
                </div>
                <div class="login__field">
                    <!-- <i class="login__icon fas fa-lock"></i> -->
                    <!-- <input type="password" class="login__input" placeholder="Password" [(ngModel)]="b" name="password" required> -->
                    <!-- <p-password [(ngModel)]="password" class="password" [feedback]="password" placeholder="Password" name="password"/> -->
                    <p-password [(ngModel)]="password" [toggleMask]="true" placeholder="Password" name="password"/>
                </div>
                
                <button type="submit" class="button login__submit">
                    <span class="button__text">Log In</span>
                    <!-- <i class="button__icon fas fa-chevron-right"></i> -->
                </button><br>
                <div class="d-flex justify-content-center gap-5 message">
                    <small (click)="onSignup()" style="color: blue;">Sign Up</small>
                    <small style="color: blue;">Forgot Password?</small>
                </div>
            </form>
            <div class="social-login">
                <h3><a href="sifremiunuttum.php"></a></h3>
                <div class="social-icons">
                    <a href="https://instagram.com/isikabatay06" class="social-login__icon fab fa-instagram"></a>
                    <a href="#" class="social-login__icon fab fa-facebook"></a>
                    <a href="https://twitter.com/isikabatay06" class="social-login__icon fab fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>
