<div class="container">
    <div class="row mb-4">
        <div class="col-md-4 mb-4">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Highest Expenditure
                </div>
                <div class="card-body d-flex text-center">
                    <div class="flex-fill">
                        <strong>Monthly</strong>
                        <p>$5,000</p>
                    </div>
                    <div class="vr"></div>
                    <div class="flex-fill">
                        <strong>Yearly</strong>
                        <p>$60,000</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Approvals Based On Month
                    <i class="pi pi-eye icon" style="font-size: 1.5rem" (click)="viewapprovalDetails()"></i>
                </div>
                <div class="card-body text-center">
                    <strong>{{ totalApprovedApprovals }}</strong>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Pending Approvals Based On Month
                    <i class="pi pi-eye icon" style="font-size: 1.5rem" (click)="viewpendingDetails()"></i>
                </div>
                <div class="card-body text-center">
                    <strong>{{ totalPendingApprovals }}</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card bar-graph shadow-sm">
                <div class="card-header titles">
                    Credit / Debit
                    Based On
                    (Daily/Monthly/Yearly)
                </div>
                <div class="card-body">
                    <div class="col-12 d-flex">
                        <div class="col-6 gap-3">
                            <span>
                                <p-radioButton value="date" [(ngModel)]="creditDebitTimeframe" inputId="categoryDate"
                                    (click)="GetCreditDebitGraphBasedOnMonthYear()" />
                                <span style="margin-right: 3px;"></span>
                                <label for="categoryDate">Date</label>
                                <span style="margin-right: 10px;"></span>
                            </span>
                            <span>
                                <p-radioButton value="month" [(ngModel)]="creditDebitTimeframe" inputId="categoryMonth"
                                    (click)="GetCreditDebitGraphBasedOnMonthYear()" />
                                <span style="margin-right: 3px;"></span>
                                <label for="categoryMonth">Month</label>
                                <span style="margin-right: 10px;"></span>
                            </span>
                            <span>
                                <p-radioButton value="year" [(ngModel)]="creditDebitTimeframe" inputId="categoryYear"
                                    (click)="GetCreditDebitGraphBasedOnMonthYear()" />
                                <span style="margin-right: 3px;"></span>
                                <label for="categoryYear">Year</label>
                            </span>
                        </div>
                        <div class="col-6">
                            <span *ngIf="creditDebitTimeframe === 'date'; else monthContent">
                                <i class="pi pi-chevron-left iconleft " style="color: #004f83;"></i>
                                <p-calendar class="charts_date_picker" [(ngModel)]="date1" [showIcon]="true"
                                    [yearNavigator]="true" />
                                <i class="pi pi-chevron-right iconright" style="color: #004f83;"></i>
                                <!-- <p class="text-xs">{{ this.selectedDate}}</p> -->
                            </span>
                            <ng-template #monthContent>
                                <span *ngIf="creditDebitTimeframe === 'month'; else yearContent">
                                    <i class="pi pi-chevron-left iconleft " style="color: #004f83;"></i>
                                    <p-calendar class="charts_month_picker" [(ngModel)]="month" view="month"
                                        [showIcon]="true" dateFormat="mm/yy" [yearNavigator]="true" />
                                    <i class="pi pi-chevron-right iconright" style="color: #004f83;"></i>
                                    <!-- <p class="text-xs">{{formatMonth(this.month)}}/{{this.year}}</p> -->
                                </span>
                                <ng-template #yearContent>
                                    <i class="pi pi-chevron-left iconleft " style="color: #004f83;"></i>
                                    <p-calendar class="charts_year_picker" [(ngModel)]="year" view="year"
                                        dateFormat="yy" [showIcon]="true" [yearNavigator]="true" />
                                    <i class="pi pi-chevron-right iconright" style="color: #004f83;"></i>
                                    <!-- <p class="text-xs">{{this.year}}</p> -->
                                </ng-template>
                            </ng-template>
                            <!-- <i class="pi pi-chevron-left iconleft " style="color: #004f83;"></i>
                            <label for="buttondisplay" class="font-bold block mb-2"></label>
                            <div *ngIf="creditDebitTimeframe === 'date'">
                                <p-calendar class="charts_date_picker" [(ngModel)]="date1" [showIcon]="true"
                                    inputId="buttondisplay" [yearNavigator]="true" />
                            </div>
                            <div *ngIf="creditDebitTimeframe === 'month'">
                                <p-calendar class="charts_date_picker" [(ngModel)]="month" view="month"
                                    [showIcon]="true" dateFormat="mm/yy" inputId="buttondisplay"
                                    [yearNavigator]="true" />
                            </div>
                            <div *ngIf="creditDebitTimeframe === 'year'">
                                <p-calendar class="charts_date_picker" [(ngModel)]="year" view="year" dateFormat="yy"
                                    [showIcon]="true" [yearNavigator]="true" />
                            </div>
                            <i class="pi pi-chevron-right iconright" style="color: #004f83;"></i> -->
                        </div>
                    </div>
                    <br>
                    <div class="col-12">
                        <p-chart type="bar" [data]="categoryData" [options]="categoryOptions" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bar-graph shadow-sm">
                <div class="card-header titles">
                    Expenditure
                    Based On
                    Category
                </div>
                <div class="card-body">
                    <div class="col-12 d-flex">
                        <div class="col-6 gap-3">
                            <span>
                                <p-radioButton value="date" [(ngModel)]="categoryTimeframe" inputId="categoryDate"
                                    (click)="GetCategorygraphBasedonDatemonthandyear()" />
                                <span style="margin-right: 3px;"></span>
                                <label for="categoryDate">Date</label>
                                <span style="margin-right: 10px;"></span>
                            </span>
                            <span>
                                <p-radioButton value="month" [(ngModel)]="categoryTimeframe" inputId="categoryMonth"
                                    (click)="GetCategorygraphBasedonDatemonthandyear()" />
                                <span style="margin-right: 3px;"></span>
                                <label for="categoryMonth">Month</label>
                                <span style="margin-right: 10px;"></span>
                            </span>
                            <span>
                                <p-radioButton value="year" [(ngModel)]="categoryTimeframe" inputId="categoryYear"
                                    (click)="GetCategorygraphBasedonDatemonthandyear()" />
                                <span style="margin-right: 3px;"></span>
                                <label for="categoryYear">Year</label>
                            </span>
                        </div>
                        <div class="col-6">
                            <span *ngIf="categoryTimeframe === 'date'; else monthContent">
                                <i class="pi pi-chevron-left iconleft " style="color: #004f83;"></i>
                                <p-calendar class="charts_date_picker" [(ngModel)]="date1" [showIcon]="true"
                                    [yearNavigator]="true" />
                                <i class="pi pi-chevron-right iconright" style="color: #004f83;"></i>
                                <!-- <p class="text-xs">{{ this.selectedDate}}</p> -->
                            </span>
                            <ng-template #monthContent>
                                <span *ngIf="categoryTimeframe === 'month'; else yearContent">
                                    <i class="pi pi-chevron-left iconleft " style="color: #004f83;"></i>
                                    <p-calendar class="charts_month_picker" [(ngModel)]="month" view="month"
                                        [showIcon]="true" dateFormat="mm/yy" [yearNavigator]="true" />
                                    <i class="pi pi-chevron-right iconright" style="color: #004f83;"></i>
                                    <!-- <p class="text-xs">{{formatMonth(this.month)}}/{{this.year}}</p> -->
                                </span>
                                <ng-template #yearContent>
                                    <i class="pi pi-chevron-left iconleft " style="color: #004f83;"></i>
                                    <p-calendar class="charts_year_picker" [(ngModel)]="year" view="year"
                                        dateFormat="yy" [showIcon]="true" [yearNavigator]="true" />
                                    <i class="pi pi-chevron-right iconright" style="color: #004f83;"></i>
                                    <!-- <p class="text-xs">{{this.year}}</p> -->
                                </ng-template>
                            </ng-template>
                            <!-- <i class="pi pi-chevron-left iconleft " style="color: #004f83;"></i>
                            <label for="buttondisplay" class="font-bold block mb-2"></label>
                            <div *ngIf="categoryTimeframe === 'date'">
                                <p-calendar class="charts_date_picker" [(ngModel)]="date1" [showIcon]="true"
                                    inputId="buttondisplay" [yearNavigator]="true" />
                            </div>
                            <div *ngIf="categoryTimeframe === 'month'">
                                <p-calendar class="charts_date_picker" [(ngModel)]="month" view="month"
                                    [showIcon]="true" dateFormat="mm/yy" inputId="buttondisplay"
                                    [yearNavigator]="true" />
                            </div>
                            <div *ngIf="categoryTimeframe === 'year'">
                                <p-calendar class="charts_date_picker" [(ngModel)]="year" view="year" dateFormat="yy"
                                    [showIcon]="true" [yearNavigator]="true" />
                            </div>
                            <i class="pi pi-chevron-right iconright" style="color: #004f83;"></i> -->
                        </div>
                    </div>
                    <br>
                    <div class="col-12">
                        <p-chart type="bar" [data]="categoryData" [options]="categoryOptions" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-4 mt-4">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Investment And Expenditure Monthly
                </div>
                <div class="card-body d-flex text-center">
                    <div class="flex-fill">
                        <strong>Carry Forward</strong>
                        <p>$5,000</p>
                    </div>
                    <div class="vr"></div>
                    <div class="flex-fill">
                        <strong>Credit</strong>
                        <p>$60,000</p>
                    </div>
                    <div class="vr"></div>
                    <div class="flex-fill">
                        <strong>Debit</strong>
                        <p>$45,000</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Notifications
                </div>
                <div class="card-body text-center">
                    <ng-container *ngIf="notifications.length > 0; else noNotifications">
                        <div *ngFor="let notification of notifications">
                            <div>
                                <strong>{{ notification.Notification }}</strong>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #noNotifications>
                        <strong>No Notifications Right Now.</strong>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Investment And Expenditure Yearly
                </div>
                <div class="card-body flex text-center">
                    <div *ngFor="let budget of yearlyBudget">
                        <div class="col-12 d-flex">
                            <div class="col-6">
                                <strong>Credit</strong>
                                <p>{{ budget.TotalBudget | currency: 'INR' : 'symbol'}}</p>
                            </div>
                            <div class="vr"></div>
                            <div class="col-6" style="margin-left: -18px;">
                                <strong>Debit</strong>
                                <p>{{ budget.TotalExpenses | currency: 'INR' : 'symbol'}}</p>
                            </div>
                        </div>
                        <!-- <div class="flex-fill">
                        <strong>Credit</strong>
                        <p>{{ budget.TotalBudget}}</p>
                    </div> -->
                        <!-- <div class="vr"></div> -->
                        <!-- <div class="flex-fill">
                        <strong>Debit</strong>
                        <p>{{ budget.TotalExpenses}}</p>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Approval Details" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <p-table #myTab [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [value]="ApprovalData"
        [globalFilterFields]="['CategoryName', 'TotalAmount','StatusName']" [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
        paginatorLocale="en-US">

        <ng-template pTemplate="header">
            <tr>
                <th class="table-head" style="min-width: 17rem">
                    <div class="flex justify-content-between align-items-center">
                        Category Name
                    </div>
                </th>
                <th class="table-head" style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        Total Amount
                    </div>
                </th>
                <th class="table-head" style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        Status Name
                    </div>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-ApprovalData>
            <tr>
                <td>{{ ApprovalData.CategoryName }}</td>
                <td>{{ ApprovalData.TotalAmount }}</td>
                <td>{{ ApprovalData.StatusName }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>


<p-dialog header="Pending Approval Details" [modal]="true" [(visible)]="pendingVisible" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <p-table #myTab [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [value]="PendingApprovalData"
        [globalFilterFields]="['CategoryName', 'TotalAmount','StatusName']" [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
        paginatorLocale="en-US">

        <ng-template pTemplate="header">
            <tr>
                <th class="table-head" style="min-width: 17rem">
                    <div class="flex justify-content-between align-items-center">
                        Category Name
                    </div>
                </th>
                <th class="table-head" style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        Total Amount
                    </div>
                </th>
                <th class="table-head" style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        Status Name
                    </div>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-PendingApprovalData>
            <tr>
                <td>{{ PendingApprovalData.CategoryName }}</td>
                <td>{{ PendingApprovalData.TotalAmount }}</td>
                <td>{{ PendingApprovalData.StatusName }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>