<!-- <div class="container">
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card profile shadow-sm">
                <div class="card-header titles">
                    Admin Profile
                </div>
                <div class="card-body text-center">
                    <img src="/assets/download (2).png" alt="" class="image mb-3">
                    <div>
                        <strong>John Doe</strong><br>
                        <strong>Administrator</strong>
                    </div>
                    <div class="profilelist mt-3">
                        <p><i class="pi pi-briefcase"></i> CIS10336</p>
                        <p><i class="pi pi-mars"></i> Male</p>
                        <p><i class="pi pi-envelope"></i> john.doe@example.com</p>
                        <p><i class="pi pi-calendar-clock"></i> 12 dec 1990</p>
                        <p><i class="pi pi-mobile"></i> 1234567890</p>
                        <p><i class="pi pi-map-marker"></i> Hyderabad</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card bar-graph shadow-sm">
                <div class="card-header titles">
                    Graphical Representation
                </div>
                <div class="card-body">
                    <p-chart type="bar" [data]="data" [options]="options"></p-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles" (click)="OnClick()">
                    Total Expenses
                </div>
                <div class="card-body text-center" (click)="OnClick()">
                    <h3>$5,000</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Monthly Expenses
                </div>
                <div class="card-body text-center">
                    <h3>$5,000</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Yearly Expenses
                </div>
                <div class="card-body text-center">
                    <h3>$60,000</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card expensecard shadow-sm mt-4">
                <div class="card-header titles">
                    Notifications
                </div>
                <div class="card-body text-center">
                    <strong>No Notifications Right Now.</strong>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="container">
    <div class="row mb-4">
        <div class="col-md-4 mb-4">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Highest Category
                </div>
                <div class="card-body d-flex text-center">
                    <div class="flex-fill">
                        <h5>Monthly</h5>
                        <h3>$5,000</h3>
                    </div>
                    <div class="vr"></div>
                    <div class="flex-fill">
                        <h5>Yearly</h5>
                        <h3>$60,000</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Approvals Voucher Based On Year
                </div>
                <div class="card-body text-center">
                    <h5>Total</h5>
                    <h3>50</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Pendings Voucher Based On Year
                </div>
                <div class="card-body text-center">
                    <h5>Pending</h5>
                    <h3>45</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card bar-graph shadow-sm">
                <div class="card-header titles">
                    Credit / Debit
                    Based On
                    (Daily/Monthly/Yearly)
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-center gap-3">
                        <div>
                            <p-radioButton name="date" value="Cheese" [(ngModel)]="ingredient" inputId="ingredient1" />
                            <label for="date">
                                Date
                            </label>
                        </div>
                        <div>
                            <p-radioButton name="month" value="Mushroom" [(ngModel)]="ingredient"
                                inputId="ingredient2" />
                            <label for="month">
                                Month
                            </label>
                        </div>
                        <div>
                            <p-radioButton name="year" value="Pepper" [(ngModel)]="ingredient" inputId="ingredient3" />
                            <label for="year">
                                Year
                            </label>
                        </div>
                        <div class="flex">
                            <i class="pi pi-chevron-left" style="color: #004f83;position: relative;left:195px;"></i>
                            <label for="buttondisplay" class="font-bold block mb-2"></label>
                            <p-calendar [(ngModel)]="date1" [showIcon]="true" inputId="buttondisplay"
                                [showOnFocus]="false" appendTo="body" />
                            <i class="pi pi-chevron-right" style="color: #004f83;position: relative;"></i>
                        </div>
                    </div>
                    <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bar-graph shadow-sm">
                <div class="card-header titles">
                    Categories
                    Based On
                    (Daily/Monthly/Yearly)
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-center gap-3">
                        <div>
                            <p-radioButton name="day" value="Cheese" [(ngModel)]="ingredient" inputId="ingredient1" />
                            <label for="ingredient1">
                                Date
                            </label>
                        </div>
                        <div>
                            <p-radioButton name="month" value="Mushroom" [(ngModel)]="ingredient"
                                inputId="ingredient2" />
                            <label for="ingredient2">
                                Month
                            </label>
                        </div>
                        <div>
                            <p-radioButton name="year" value="Pepper" [(ngModel)]="ingredient" inputId="ingredient3" />
                            <label for="ingredient3">
                                Year
                            </label>
                        </div>
                        <div class="flex">
                            <i class="pi pi-chevron-left" style="color: #004f83;position: relative;left:195px;"></i>
                            <label for="buttondisplay" class="font-bold block mb-2"></label>
                            <p-calendar [(ngModel)]="date1" [showIcon]="true" inputId="buttondisplay"
                                [showOnFocus]="false" appendTo="body" />
                            <i class="pi pi-chevron-right" style="color: #004f83;position: relative;"></i>
                        </div>
                    </div>
                    <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-4 mt-4">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Highest Category
                </div>
                <div class="card-body d-flex text-center">
                    <div class="flex-fill">
                        <h5>Carry Forward</h5>
                        <h3>$5,000</h3>
                    </div>
                    <div class="vr"></div>
                    <div class="flex-fill">
                        <h5>Credit</h5>
                        <h3>$60,000</h3>
                    </div>
                    <div class="vr"></div>
                    <div class="flex-fill">
                        <h5>Debit</h5>
                        <h3>$60,000</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Notifications
                </div>
                <div class="card-body text-center">
                    <strong>No Notifications Right Now.</strong>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Highest Category
                </div>
                <div class="card-body d-flex text-center">
                    <div class="flex-fill">
                        <h5>Credit</h5>
                        <h3>$5,000</h3>
                    </div>
                    <div class="vr"></div>
                    <div class="flex-fill">
                        <h5>Debit</h5>
                        <h3>$6,000</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>