
<div class="card" id="main-card">
    <p-table #myTab [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [value]="deposits"
        [globalFilterFields]="['CarryForwardAmount', 'CreditDate','Amount','PaymentMethodId','CreatedBy', 'CreditedTo', 'UpdatedAt', 'CreatedByName', 'UpdatedByName']"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
        paginatorLocale="en-US">

        <ng-template pTemplate="caption">
            <h5>Deposits Screen</h5>
            <div class="btnheader">
                <div class="tablehead">
                    <button pButton pRipple label="Clear" [outlined]="true" icon="pi pi-filter-slash"
                        (click)="clear(myTab)" class="clearbtn">
                    </button>
                    <button pButton type="button" label="Add Deposit" icon="pi pi-plus" (click)="onAdd()"
                        [outlined]="true" class="clearbtn"></button>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th class="table-head" pSortableColumn="CarryForwardAmount" style="width:15%">
                    <div class="flex justify-content-between align-items-center">
                        Carry Forward Amount
                        <p-sortIcon field="CarryForwardAmount"></p-sortIcon>
                        <p-columnFilter type="text" field="CarryForwardAmount" display="menu" class="ml-auto">
                        </p-columnFilter>
                    </div>
                </th>
                <th class="table-head" pSortableColumn="CreditDate" style="width:15%">
                    <div class="flex justify-content-between align-items-center">
                        Credit Date
                        <p-sortIcon field="CreditDate"></p-sortIcon>
                        <p-columnFilter type="text" field="CreditDate" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th class="table-head" pSortableColumn="Amount" style="width:15%">
                    <div class="flex justify-content-between align-items-center">
                        Amount
                        <p-sortIcon field="Amount"></p-sortIcon>
                        <p-columnFilter type="text" field="Amount" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th class="table-head" pSortableColumn="PaymentMethodName" style="width:15%">
                    <div class="flex justify-content-between align-items-center">
                        Payment Mode
                        <p-sortIcon field="PaymentMethodName"></p-sortIcon>
                        <p-columnFilter type="text" field="PaymentMethodName" display="menu" class="ml-auto">
                        </p-columnFilter>
                    </div>
                </th>
                <th class="table-head" pSortableColumn="CreditedBy" style="width:15%">
                    <div class="flex justify-content-between align-items-center">
                        Credited By
                        <p-sortIcon field="CreditedBy"></p-sortIcon>
                        <p-columnFilter type="text" field="CreditedBy" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th class="table-head" pSortableColumn="CreditedTo" style="width:15%">
                    <div class="flex justify-content-between align-items-center">
                        Credited To
                        <p-sortIcon field="CreditedTo"></p-sortIcon>
                        <p-columnFilter type="text" field="CreditedTo" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th class="table-head">Action</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-deposits>
            <tr>
                <td>{{ deposits.CarryForwardAmount }}</td>
                <td>{{ deposits.CreditDate | date:'dd-MM-yyyy'}}</td>
                <td>{{ deposits.Amount }}</td>
                <td>{{ deposits.PaymentMethodName }}</td>
                <td>{{ deposits.CreditedBy }}</td>
                <td>{{ deposits.CreditedTo }}</td>
                <td>
                    <div class="d-flex">
                        <button class="btn" pTooltip="Edit" tooltipPosition="top" (click)="onEdit(deposits)">
                            <i class="pi pi-pencil" style="font-size: 1.2rem; color: lightslategrey"></i>
                        </button>
                         <button class="btn" pTooltip="Delete" tooltipPosition="top" (click)="onDelete(deposits.Id)">
                            <i class="pi pi-trash" style="font-size: 1.2rem; color: lightslategrey"></i>
                        </button> 
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Deposit Details" [(visible)]="showform" [style]="{width: '50vw'}" [draggable]="false">
    <div class="card_body p-5">
        <form class="row" [formGroup]="depositForm">
            <div class="col-md-6">
                <label for="CarryForwardAmount" class="form-label">Carry Forward Amount <span
                        style="color: red;">*</span></label>
                <!-- <input type="text" pInputText class="form-control user" id="CarryForwardAmount" formControlName="CarryForwardAmount"
                    maxlength="20" placeholder="Enter CarryForwardAmount"
                    [ngClass]="{'is-invalid ng-dirty': depositForm.controls['CarryForwardAmount'].touched && depositForm.controls['CarryForwardAmount'].errors}" /> -->
                <p-inputNumber inputId="integeronly" formControlName="CarryForwardAmount" maxlength="15"
                    placeholder="Enter CarryForwardAmount"
                    [ngClass]="{'is-invalid ng-dirty': depositForm.controls['CarryForwardAmount'].touched && depositForm.controls['CarryForwardAmount'].errors}" />
                <!-- <div
                    *ngIf="depositForm.get('CarryForwardAmount')?.invalid && (depositForm.get('CarryForwardAmount')?.dirty || depositForm.get('CarryForwardAmount')?.touched)">
                    <small class="p-error" *ngIf="depositForm.get('CarryForwardAmount')?.errors?.['required']">* Carry
                        Forward Amount is required.</small>
                </div> -->
            </div>
            <div class="col-md-6">
                <label for="CreditDate" class="form-label">Credit Date <span style="color: red;">*</span></label>
                <p-calendar formControlName="CreditDate" [showIcon]="true" [showOnFocus]="false" [maxDate]="todayDate"
                    placeholder="Select Credit Date" inputId="buttondisplay" appendTo="body" 
                    [ngClass]="{'is-invalid ng-dirty': depositForm.controls['CreditDate'].touched && depositForm.controls['CreditDate'].errors}">
                </p-calendar>
                <div
                    *ngIf="depositForm.get('CreditDate')?.invalid && (depositForm.get('CreditDate')?.dirty || depositForm.get('CreditDate')?.touched)">
                    <small class="p-error" *ngIf="depositForm.get('CreditDate')?.errors?.['required']">* CreditDate
                        is required.</small>
                </div>
            </div>

            <label for="Amount" class="form-label">Amount <span style="color: red;">*</span></label>
            <p-inputNumber inputId="integeronly" formControlName="Amount" maxlength="15" placeholder="Enter Amount"
                [ngClass]="{'is-invalid ng-dirty': depositForm.controls['Amount'].touched && depositForm.controls['Amount'].errors}" />
            <div
                *ngIf="depositForm.get('Amount')?.invalid && (depositForm.get('Amount')?.dirty || depositForm.get('Amount')?.touched)">
                <small class="p-error" *ngIf="depositForm.get('Amount')?.errors?.['required']">* Amount is
                    required.</small>
            </div>

            <div class="col-md-6">
                <label for="PaymentMethodName" class="form-label">Payment Method <span
                        style="color: red;">*</span></label><br>
                <p-dropdown [options]="uniquePaymentMethods" appendTo="body" [showClear]="true"
                    placeholder="Select Payment Method" optionLabel="PaymentMethodName" optionValue="PaymentMethodId"
                    formControlName="PaymentMethodId"
                    [ngClass]="{'is-invalid ng-dirty': depositForm.controls['PaymentMethodId'].touched && depositForm.controls['PaymentMethodId'].errors}">
                </p-dropdown>
                <div
                    *ngIf="depositForm.get('PaymentMethodId')?.invalid && (depositForm.get('PaymentMethodId')?.dirty || depositForm.get('PaymentMethodId')?.touched)">
                    <small class="p-error" *ngIf="depositForm.get('PaymentMethodId')?.errors?.['required']">* Payment
                        Method Name is required.</small>
                </div>
            </div>
            <div class="col-md-6">
                <label for="CreditedBy" class="form-label">Credited By <span style="color: red;">*</span></label>
                <input type="text" pInputText class="form-control CreditedBy" id="CreditedBy"
                    formControlName="CreditedBy" maxlength="15" (input)="onCreditedByInputChange($event)"
                    placeholder="Enter CreditedBy"
                    [ngClass]="{'is-invalid ng-dirty': depositForm.controls['CreditedBy'].touched && depositForm.controls['CreditedBy'].errors}" />
                
                <div
                    *ngIf="depositForm.get('CreditedBy')?.invalid && (depositForm.get('CreditedBy')?.dirty || depositForm.get('CreditedBy')?.touched)">
                    <small class="p-error" *ngIf="depositForm.get('CreditedBy')?.errors?.['required']">* Credited By is
                        required.</small>
                    <small class="p-error" *ngIf="depositForm.get('CreditedBy')?.errors?.['alphabetOnly']">* Only
                        alphabets are allowed.</small>
                </div>
            </div>



            <div class="col-md-6">
                <label for="CreditedTo" class="form-label">Credited To <span style="color: red;">*</span></label>
                <input type="text" pInputText class="form-control password" id="CreditedTo" formControlName="CreditedTo"
                    maxlength="20" (input)="onCreditedToInputChange($event)" placeholder="Enter CreditedTo"
                    [ngClass]="{'is-invalid ng-dirty': depositForm.controls['CreditedTo'].touched && depositForm.controls['CreditedTo'].errors}" />
                    
                <div
                    *ngIf="depositForm.get('CreditedTo')?.invalid && (depositForm.get('CreditedTo')?.dirty || depositForm.get('CreditedTo')?.touched)">
                    <small class="p-error" *ngIf="depositForm.get('CreditedTo')?.errors?.['required']">* Credited To is
                        required.</small>
                    <small class="p-error" *ngIf="depositForm.get('CreditedTo')?.errors?.['alphabetOnly']">* Only
                        alphabets are allowed.</small>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <div class="d-flex flex-row justify-content-between p-3">
            <button type="button" class="btn btn-secondary" (click)="closeForm()">Cancel</button>
            <button type="submit" class="btn btn-success" (click)="submit()">Submit</button>
        </div>
    </ng-template>
</p-dialog>