/* .profile{
    text-align: center;
}
.profile .card-body {
    text-align: center;
}
.profile .image {
    width: 100px;
}
.profilelist {
    text-align: left;
}
.expensecard, .notificationcard {
    text-align: center;
}
.notificationcard {
    width: 100%;
}
.titles{
    font-weight: 500;
    text-align: center;
    background-color:  var(--color-default);
    color: white;
}
.icons{
    color: var(--color-default);
}
.small-card {
    width: 415px; 
    height: 350px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 70px); 
}

.small-chart {
    width: 90%; 
    height: 100%; 
}
.doughnutchart{
    height: 100%;
} */




.card-header {
    text-align: center;
}

.profile .card-body {
    text-align: center;
}

.profile .image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profilelist {
    text-align: left;
}

.profilelist p {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.profilelist i {
    margin-right: 5px;
    color:var(--color-default); 
}

.expensecard {
    text-align: center;
}

.expensecard .card-body {
    padding: 20px;
}

.expensecard h3 {
    font-size: 24px; 
    color: #333; 
}

.card.profile {
    height: 100%;
}

.card.bar-graph {
    height: 100%;
}

.card:hover {
    transform: translateY(-5px); 
    transition: all 0.3s ease; 
}

.titles{
    font-weight: 500;
    background-color: var(--color-default);
    color: white;
    /* display: flex;
    justify-content: space-around; */
}

.bar-graph {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.card {
    margin-bottom: 20px;
}




.vr {
    border-left: 1px solid #000;
    height: auto;
    margin: 0 20px;
}

.card-body.d-flex>.flex-fill {
    flex: 1;
}
.icon{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.table-head{
    background-color: var(--color-default);
    color: white;
}