.profile{
    text-align: center;
}
.profile .card-body {
    text-align: center;
}
.profile .image {
    width: 100px;
}
.profilelist {
    text-align: left;
}
.expensecard, .notificationcard {
    text-align: center;
}
.notificationcard {
    width: 100%;
}
.titles{
    font-weight: 500;
    text-align: center;
    background-color:  var(--color-default);
    color: white;
}
.icons{
    color: var(--color-default);
}
.small-card {
    width: 415px; /* Adjust card width */
    height: 350px; /* Adjust card height */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 70px); /* Adjust height to account for card header */
}

.small-chart {
    width: 90%; /* Adjust width of the chart */
    height: 100%; /* Adjust height of the chart */
}
.doughnutchart{
    height: 100%;
}
