<div class="container">
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Highest Category
                </div>
                <div class="card-body d-flex text-center">
                    <div class="flex-fill">
                        <h5>Monthly</h5>
                        <h3>$5,000</h3>
                    </div>
                    <div class="vr"></div>
                    <div class="flex-fill">
                        <h5>Yearly</h5>
                        <h3>$60,000</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Approvals Based On Month
                    <i class="pi pi-eye icon" style="font-size: 1.5rem" (click)="viewDetails()"></i>
                </div>
                <div class="card-body text-center">
                    <h3>$5,000</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Pendings Based On Month
                    <i class="pi pi-eye icon" style="font-size: 1.5rem" (click)="viewpendingDetails()"></i>
                </div>
                <div class="card-body text-center">
                    <h3>$60,000</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Credit / Debit
                    Based on
                    (Monthly / Yearly / Day)
                </div>
                <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Categories
                    Based on
                    (Monthly / Yearly / Day)
                </div>
                <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Highest Category
                </div>
                <div class="card-body d-flex text-center">
                    <div class="flex-fill">
                        <h5>Carry Forward</h5>
                        <h3>$5,000</h3>
                    </div>
                    <div class="vr"></div>
                    <div class="flex-fill">
                        <h5>Credit</h5>
                        <h3>$60,000</h3>
                    </div>
                    <div class="vr"></div>
                    <div class="flex-fill">
                        <h5>Debit</h5>
                        <h3>$60,000</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card notificationcard shadow-sm">
                <div class="card-header titles">
                    Notifications
                </div>
                <div class="card-body">
                    <p>No Notifications right now</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card expensecard shadow-sm">
                <div class="card-header titles">
                    Yearly
                </div>
                <div class="card-body d-flex text-center">
                    <div class="flex-fill">
                        <h5>Credit</h5>
                        <h3>$5,000</h3>
                    </div>
                    <div class="vr"></div>
                    <div class="flex-fill">
                        <h5>Debit</h5>
                        <h3>$60,000</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<p-dialog header="Approval Details" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <p-table #myTab [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [value]="ApprovalData"
        [globalFilterFields]="['CategoryName', 'TotalAmount','StatusName']"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
        paginatorLocale="en-US">

        <ng-template pTemplate="header">
            <tr>
                <th class="table-head" style="min-width: 17rem">
                    <div class="flex justify-content-between align-items-center">
                        Category Name
                    </div>
                </th>
                <th class="table-head"  style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        Total Amount
                    </div>
                </th>
                <th class="table-head" style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        Status Name
                    </div>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-ApprovalData>
            <tr>
                <td>{{ ApprovalData.CategoryName }}</td>
                <td>{{ ApprovalData.TotalAmount }}</td>
                <td>{{ ApprovalData.StatusName }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>