<div class="card">
    <p-table #Rowtable [value]="lookups" dataKey="Id" responsiveLayout="scroll" [paginator]="true" [rows]="5"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['Name', 'IsActive', 'Description', 'CreatedAt', 'UpdatedAt']"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
        paginatorLocale="en-US">
        <ng-template pTemplate="caption">
            <h5>Lookups Screen</h5>
            <div class="btnhead">
                <button pButton pRipple label="Clear" [outlined]="true" icon="pi pi-filter-slash"
                    (click)="clear(Rowtable)" class="clearbtn">
                </button>
                <button pButton label="Add lookups" icon="pi pi-plus" (click)="onAdd()" [outlined]="true"
                    class="clearbtn"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem" class="tablehead"></th>
                <th class="tablehead" pSortableColumn="Name">Name <p-sortIcon field="ID"></p-sortIcon></th>
                <th class="tablehead" pSortableColumn="IsActive">IsActive <p-sortIcon field="IsAcitve"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lookup let-expanded="expanded">
            <tr>
                <td>
                    <!-- <button type="button" pButton pRipple [pRowToggler]="lookup"
                        class="p-button-text p-button-rounded p-button-plain"></button> -->
                    <button type="button" pButton pRipple [pRowToggler]="lookup"
                        class="p-button-text p-button-rounded p-button-plain"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td style="min-width: 12rem;">{{lookup.Name}}</td>
                <td style="min-width: 12rem;"><p-checkbox [binary]="true" class="isactivecol"
                        [(ngModel)]="lookup.IsActive"></p-checkbox></td>

            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-lookup>
            <tr>
                <td colspan="7">
                    <div class="p-3">
                        <p-table [value]="lookup.expandLookupDetails" dataKey="ID" responsiveLayout="scroll">
                            <ng-template pTemplate="header">
            <tr>
                <th class="tablehead" pSortableColumn="Name">Name <p-sortIcon field="Name"></p-sortIcon></th>
                <th class="tablehead" pSortableColumn="Description">Description <p-sortIcon
                        field="Description"></p-sortIcon>
                </th>
                <th class="tablehead" pSortableColumn="IsAcitve">IsActive <p-sortIcon field="IsAcitve"></p-sortIcon>
                <th class="tablehead" pSortableColumn="CreatedAt">Created At <p-sortIcon field="CreatedAt"></p-sortIcon>
                <th class="tablehead" pSortableColumn="UpdatedAt">Updated At <p-sortIcon field="UpdatedAt"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lookUpDetail>
            <tr>
                <td>{{lookUpDetail.name}}</td>
                <td>{{lookUpDetail.description}}</td>
                <td><p-checkbox [binary]="true" class="isactivecol" [(ngModel)]="lookUpDetail.isActive"></p-checkbox>
                </td>
                <td>{{lookUpDetail.createdAt | date:'dd-MM-yyyy'}}</td>
                <td>{{lookUpDetail.updatedAt | date:'dd-MM-yyyy'}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
</td>
</tr>
</ng-template>
</p-table>
</div>


<p-dialog header="Add lookups" [(visible)]="showform" [style]="{width: '50vw'}" [draggable]="false">
    <div class="card_body p-5">
        <form class="row" [formGroup]="lookupForm">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="Name" class="form-label">Name <span style="color: red;">*</span></label><br>
                    <input type="text" pInputText class="form-control user" id="Name" formControlName="Name"
                        maxlength="20" placeholder="Enter lookup Name"
                        [ngClass]="{'is-invalid ng-dirty': lookupForm.controls['Name'].touched && lookupForm.controls['Name'].errors}" />
                    <div
                        *ngIf="lookupForm.get('Name')?.invalid && (lookupForm.get('Name')?.dirty || lookupForm.get('Name')?.touched)">
                        <small class="p-error" *ngIf="lookupForm.get('Name')?.errors?.['required']">* lookup Name is
                            required.</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="IsActive" class="form-label">IsActive <span style="color: red;">*</span></label><br>
                <p-inputSwitch formControlName="IsActive" id="IsActive"></p-inputSwitch>
                <div
                    *ngIf="lookupForm.get('IsActive')?.invalid && (lookupForm.get('IsActive')?.dirty || lookupForm.get('IsActive')?.touched)">
                    <small class="p-error" *ngIf="lookupForm.get('IsActive')?.errors?.['required']">*
                        IsActive is required.</small>
                </div>
            </div>

            <div class="header" style="display: flex; justify-content: end;">
                <button pButton type="button" label="Add LookUpDetails" icon="pi pi-plus" (click)="addLookupDetails()"
                    [outlined]="true" class="AddlookupDetails"></button>
            </div>
            <div class="col-12 p-1 pb-3 " formArrayName="LookUpDetailReq">
                <p-table #dt2 [value]="falookupDetails().controls" dataKey="id" [rows]="10" [rowHover]="true"
                    styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
                    [autoLayout]="true" responsiveLayout="scroll" [rowsPerPageOptions]="[10,25,50]"
                    [tableStyle]="{ width: 'max'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="tablehead">Name<label class="required"></label></th>
                            <th class="tablehead">Description </th>
                            <th class="tablehead">Is Active </th>
                            <th *ngIf="lookupForm.controls['LookUpDetailReq'].value.length > 1"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-lookUp let-lookUpDetailsIndex="rowIndex">
                        <tr [formGroupName]="lookUpDetailsIndex">
                            <td class="vertical-align-top">
                                <input pInputText class="form-control w-100" formControlName="Name"
                                    placeholder="Enter Name" #name alphanumeric [ngClass]="{'is-invalid ng-dirty': formArrayControls(lookUpDetailsIndex,'Name')?.touched &&
   formArrayControls(lookUpDetailsIndex,'Name')?.errors }" [maxlength]="50" id="Lookup_lookupDetailsName">
                                <div class="flex">
                                    <div class="align-left w-60" style="width:70%">
                                        <span
                                            *ngIf="formArrayControls(lookUpDetailsIndex,'Name')?.touched &&formArrayControls(lookUpDetailsIndex,'Name')?.invalid">
                                            <div class="ng-invalid ng-touched p-error"
                                                *ngIf="formArrayControls(lookUpDetailsIndex,'Name')?.errors?.['required']">
                                                Please
                                                Enter
                                                Name.</div>
                                            <div class="ng-invalid ng-touched p-error"
                                                *ngIf="formArrayControls(lookUpDetailsIndex,'Name')?.errors?.['minlength']">
                                                Name Min
                                                Length Is 2.</div>
                                            <div class="ng-invalid ng-touched p-error"
                                                *ngIf="formArrayControls(lookUpDetailsIndex,'Name')?.errors?.['exists']">
                                                LookUp Details Name Must Be Unique.
                                            </div>
                                        </span>
                                    </div>

                                </div>
                            </td>
                            <td class="vertical-align-top">
                                <textarea class="form-control freeze_text-area w-100" pInputTextarea
                                    formControlName="Description" placeholder="Enter Description" #description
                                    [maxlength]="256" id="Lookup_lookupDetailsDescription"></textarea>

                            </td>
                            <td class="vertical-align-top" [ngClass]="'IsActive' ? 'text-center' : ''">
                                <p-inputSwitch formControlName="IsActive" id="Lookup_lookupDetailsIsActive">
                                </p-inputSwitch>
                            </td>
                            <td *ngIf="lookupForm.controls['LookUpDetailReq'].value.length > 1">
                                <i class="pi pi-fw pi-times-circle text-3xl cursor-pointer"
                                    *ngIf="!this.falookupDetails().controls[lookUpDetailsIndex].get('lookupId')?.value"
                                    id="Lookup_lookupDetailsRemove"
                                    (click)="falookupDetails().removeAt(lookUpDetailsIndex)"></i>
                                <i class="pi pi-fw pi-verified text-3xl"
                                    *ngIf="this.falookupDetails().controls[lookUpDetailsIndex].get('lookupId')?.value"></i>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <div class="d-flex flex-row justify-content-between p-3">
            <button type="button" class="btn btn-secondary" (click)="closeForm()">Cancel</button>
            <button type="submit" class="btn btn-success" [disabled]="!lookupForm.valid" (click)="onsubmit()">Submit</button>
        </div>
    </ng-template>
</p-dialog>
