<div class="sidebar">
  <div class="logo_details">
    <!-- <i class="pi pi-palette icon"></i>  -->
    <div class="logo_name">Expenses Tracker</div>
    <i class="pi pi-bars" id="btn" (click)="toggleSidebar()"></i> <!-- Example PrimeIcons icon -->
  </div>
  <ul class="nav-list">
    <li>
      <div class="logo_details">
        <div class="logo_name">Home</div>
      </div>
      <a routerLink="/sidenav/dashboard/userDashboard">
        <i class="pi pi-th-large"></i> <!-- PrimeIcons icon for dashboard/user -->
        <span class="link_name">User</span>
      </a>
      <a routerLink="/sidenav/dashboard/admin">
        <i class="pi pi-user"></i> <!-- PrimeIcons icon for dashboard/admin -->
        <span class="link_name">Admin</span>
      </a>
    </li>
    <li>
      <div class="logo_details">
        <div class="logo_name">Security</div>
      </div>
      <a routerLink="/sidenav/dashboard/user">
        <i class="pi pi-user"></i> <!-- PrimeIcons icon for Security/Users -->
        <span class="link_name">Users</span>
      </a>
      <a routerLink="/sidenav/dashboard/roles">
        <i class="pi pi-users"></i> <!-- PrimeIcons icon for Security/Roles -->
        <span class="link_name">Roles</span>
      </a>
    </li>
    <li>
      <div class="logo_details">
        <div class="logo_name">Expenses</div>
      </div>
      <a routerLink="/component1/Roles">
        <i class="pi pi-money-bill"></i> <!-- PrimeIcons icon for Expenses -->
        <span class="link_name">Reports</span>
      </a>
    </li>
    <li class="profile">
      <a (click)="logout()">
        <i class="pi pi-sign-out"></i> <!-- PrimeIcons icon for Logout -->
        <span class="link_name">Logout</span>
      </a>
    </li>
  </ul>
</div>
<section class="home-section">
  <div class="text">Dashboard</div>
  <router-outlet></router-outlet>
</section>
