<div class="card" id="main-card">
    <p-table #myTab [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [value]="users"
        [columns]="selectedColumns"
        [globalFilterFields]="['FirstName', 'LastName','UserName','EMail','MobileNumber', 'CreatedAt', 'UpdatedAt', 'CreatedByName', 'UpdatedByName']"
        [tableStyle]="{ 'width': '100%' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
        paginatorLocale="en-US">

        <ng-template pTemplate="caption">
            <div class="tablehead">
                <button pButton pRipple label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(myTab)"
                    class="clearbtn">
                </button>
                <p-multiSelect [options]="availableColumns" [(ngModel)]="selectedColumns" optionLabel="header"
                    selectedItemsLabel="{0} columns selected" [style]="{ width: '20em' }" defaultLabel="Choose Columns"
                    display="chip" />
                <button pButton type="button" label="Add User" icon="pi pi-plus" (click)="onAdd()" [outlined]="true"
                    class="clearbtn"></button>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th class="table-head" pSortableColumn="FirstName" style="width:15%">
                    <div class="flex justify-content-between align-items-center">
                        First Name
                        <p-sortIcon field="FirstName"></p-sortIcon>
                        <p-columnFilter type="text" field="FirstName" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th class="table-head" pSortableColumn="LastName" style="width:15%">
                    <div class="flex justify-content-between align-items-center">
                        Last Name
                        <p-sortIcon field="LastName"></p-sortIcon>
                        <p-columnFilter type="text" field="LastName" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th class="table-head" pSortableColumn="UserName" style="width:15%">
                    <div class="flex justify-content-between align-items-center">
                        User Name
                        <p-sortIcon field="UserName"></p-sortIcon>
                        <p-columnFilter type="text" field="UserName" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <!-- <th class="table-head" pSortableColumn="Password" style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        Password
                        <p-sortIcon field="Password"></p-sortIcon>
                        <p-columnFilter type="text" field="Password" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th> -->
                <th class="table-head" pSortableColumn="EMail" style="width:15%">
                    <div class="flex justify-content-between align-items-center">
                        Email
                        <p-sortIcon field="EMail"></p-sortIcon>
                        <p-columnFilter type="text" field="EMail" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th class="table-head" pSortableColumn="MobileNumber" style="width:15%">
                    <div class="flex justify-content-between align-items-center">
                        Mobile Number
                        <p-sortIcon field="MobileNumber"></p-sortIcon>
                        <p-columnFilter type="text" field="MobileNumber" display="menu"
                            class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th class="table-head" *ngIf="isColumnSelected('CreatedByName')" pSortableColumn="CreatedByName"style="width:15%">
                    <div class="flex justify-content-between align-items-center">
                        Created By
                        <p-sortIcon field="CreatedByName"></p-sortIcon>
                        <p-columnFilter type="text" field="CreatedByName" display="menu"
                            class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th class="table-head" *ngIf="isColumnSelected('UpdatedByName')" pSortableColumn="UpdatedByName"style="width:15%">
                    <div class="flex justify-content-between align-items-center">
                        Updated By
                        <p-sortIcon field="UpdatedByName"></p-sortIcon>
                        <p-columnFilter type="text" field="UpdatedByName" display="menu"
                            class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th class="table-head" *ngIf="isColumnSelected('CreatedAt')" pSortableColumn="CreatedAt"style="width:15%">
                    <div class="flex justify-content-between align-items-center">
                        Created At
                        <p-sortIcon field="CreatedAt"></p-sortIcon>
                        <p-columnFilter type="text" field="CreatedAt" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th class="table-head" *ngIf="isColumnSelected('UpdatedAt')" pSortableColumn="UpdatedAt"style="width:15%">
                    <div class="flex justify-content-between align-items-center">
                        Updated At
                        <p-sortIcon field="UpdatedAt"></p-sortIcon>
                        <p-columnFilter type="text" field="UpdatedAt" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th class="table-head" pSortableColumn="IsActive" style="width:15%">
                    <div class="flex justify-content-between align-items-center">
                        Is Active
                        <p-sortIcon field="IsActive"></p-sortIcon>
                        <p-columnFilter type="text" field="IsActive" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th class="table-head">Actions</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-users>
            <tr>
                <td>{{ users.FirstName }}</td>
                <td>{{ users.LastName }}</td>
                <td>{{ users.UserName }}</td>
                <!-- <td>{{users.Password}}</td> -->
                <td>{{ users.EMail }}</td>
                <td>{{ users.MobileNumber }}</td>
                <td *ngIf="isColumnSelected('CreatedByName')">{{ users.CreatedByName }}</td>
                <td *ngIf="isColumnSelected('UpdatedByName')">{{ users.UpdatedByName }}</td>
                <td *ngIf="isColumnSelected('CreatedAt')">{{ users.CreatedAt | date:'dd-MM-yyyy' }}</td>
                <td *ngIf="isColumnSelected('UpdatedAt')">{{ users.UpdatedAt | date:'dd-MM-yyyy' }}</td>
                <td>
                    <p-checkbox [binary]="true" class="isactivecol" [(ngModel)]="users.IsActive"></p-checkbox>
                </td>
                <td>
                    <div class="d-flex">
                        <button class="btn" pTooltip="Edit" tooltipPosition="top" (click)="onEdit(users)">
                            <i class="pi pi-pencil" style="font-size: 1.2rem; color: lightslategrey"></i>
                        </button> |
                        <button class="btn" pTooltip="Delete" tooltipPosition="top" (click)="onDelete(users.Id)">
                            <i class="pi pi-trash" style="font-size: 1.2rem; color: lightslategrey"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>




<p-dialog header="User Details" [(visible)]="showform" [style]="{width: '50vw'}">
    <div class="card_body p-5">
        <form class="row" [formGroup]="userForm">
            <div class="col-md-6">
                <label for="FirstName" class="form-label">First Name <span style="color: red;">*</span></label>
                <input type="text" pInputText class="form-control user" id="FirstName" formControlName="FirstName"
                    maxlength="20" placeholder="Enter First Name"
                    [ngClass]="{'is-invalid ng-dirty': userForm.controls['FirstName'].touched && userForm.controls['FirstName'].errors}" />
                <div
                    *ngIf="userForm.get('FirstName')?.invalid && (userForm.get('FirstName')?.dirty || userForm.get('FirstName')?.touched)">
                    <small class="p-error" *ngIf="userForm.get('FirstName')?.errors?.['required']">* First
                        Name is required.</small>
                    <small class="p-error" *ngIf="userForm.get('FirstName')?.errors?.['alphaOnly']">* Only
                        alphabets allowed.</small>
                </div>
            </div>
            <div class="col-md-6">
                <label for="LastName" class="form-label">Last Name <span style="color: red;">*</span></label>
                <input type="text" pInputText class="form-control user" id="LastName" formControlName="LastName"
                    maxlength="20" placeholder="Enter Last Name"
                    [ngClass]="{'is-invalid ng-dirty': userForm.controls['LastName'].touched && userForm.controls['LastName'].errors}" />
                <div
                    *ngIf="userForm.get('LastName')?.invalid && (userForm.get('LastName')?.dirty || userForm.get('LastName')?.touched)">
                    <small class="p-error" *ngIf="userForm.get('LastName')?.errors?.['required']">* Last
                        Name is required.</small>
                    <small class="p-error" *ngIf="userForm.get('LastName')?.errors?.['alphaOnly']">* Only
                        alphabets allowed.</small>
                </div>
            </div>
            <div class="col-md-6">
                <label for="UserName" class="form-label">User Name <span style="color: red;">*</span></label>
                <input type="text" pInputText class="form-control user" id="UserName" formControlName="UserName"
                    maxlength="20" placeholder="Enter User Name"
                    [ngClass]="{'is-invalid ng-dirty': userForm.controls['UserName'].touched && userForm.controls['UserName'].errors}" />
                <div
                    *ngIf="userForm.get('UserName')?.invalid && (userForm.get('UserName')?.dirty || userForm.get('UserName')?.touched)">
                    <small class="p-error" *ngIf="userForm.get('UserName')?.errors?.['required']">* User
                        Name is required.</small>
                    <small class="p-error" *ngIf="userForm.get('UserName')?.errors?.['alphaOnly']">* Only
                        alphabets allowed.</small>
                </div>
            </div>
            <div class="col-md-6">
                <label for="Password" class="form-label">Password <span style="color: red;">*</span></label>
                <input type="Password" pInputText class="form-control password" id="Password" formControlName="Password"
                    maxlength="15" placeholder="Enter password"
                    [ngClass]="{'is-invalid ng-dirty': userForm.controls['Password'].touched && userForm.controls['Password'].errors}" />
                <div
                    *ngIf="userForm.get('Password')?.invalid && (userForm.get('Password')?.dirty || userForm.get('Password')?.touched)">
                    <small class="p-error" *ngIf="userForm.get('Password')?.errors?.['required']">* Password is
                        required.</small>
                </div>
            </div>

            <div class="col-md-6">
                <label for="Role Name" class="form-label">Role Name <span style="color: red;">*</span></label><br>
                <p-dropdown [options]="Name" appendTo="body" [showClear]="true" placeholder="Select Role"
                    optionLabel="Name" optionValue="RoleId" formControlName="RoleId"
                    [ngClass]="{'is-invalid ng-dirty': userForm.controls['Id'].touched && userForm.controls['Id'].errors}">
                </p-dropdown>
                <div
                    *ngIf="userForm.get('RoleId')?.invalid && (userForm.get('RoleId')?.dirty || userForm.get('RoleId')?.touched)">
                    <small class="p-error" *ngIf="userForm.get('RoleId')?.errors?.['required']">* Role Name is
                        required.</small>
                </div>
            </div>


            <div class="col-md-6">
                <label for="EMail" class="form-label">Email <span style="color: red;">*</span></label>
                <input type="email" pInputText class="form-control user" id="EMail" formControlName="EMail"
                    maxlength="50" placeholder="Enter Email"
                    [ngClass]="{'is-invalid ng-dirty': userForm.controls['EMail'].touched && userForm.controls['EMail'].errors}" />
                <div
                    *ngIf="userForm.get('EMail')?.invalid && (userForm.get('EMail')?.dirty || userForm.get('EMail')?.touched)">
                    <small class="p-error" *ngIf="userForm.get('EMail')?.errors?.['required']">* Email is
                        required.</small>
                    <small class="p-error" *ngIf="userForm.get('EMail')?.errors?.['email']">* Invalid email
                        format.</small>
                </div>
            </div>
            <div class="col-md-6">
                <label for="MobileNumber" class="form-label">Mobile Number <span style="color: red;">*</span></label>
                <input type="text" pInputText class="form-control user" id="MobileNumber" formControlName="MobileNumber"
                    pInputText maxlength="10" placeholder="Enter Mobile Number"
                    [ngClass]="{'is-invalid ng-dirty': userForm.controls['MobileNumber'].touched && userForm.controls['MobileNumber'].errors}" />
                <div
                    *ngIf="userForm.get('MobileNumber')?.invalid && (userForm.get('MobileNumber')?.dirty || userForm.get('MobileNumber')?.touched)">
                    <small class="p-error" *ngIf="userForm.get('MobileNumber')?.errors?.['required']">*
                        Mobile Number is required.</small>
                    <small class="p-error" *ngIf="userForm.get('MobileNumber')?.errors?.['pattern']">*
                        Invalid mobile number format.</small>
                </div>
            </div>

            <div class="col-md-6 d-flex align-items-center">
                <label for="IsActive" class="form-label mb-0 mr-2">Is Active <span style="color: red;">*</span></label>
                <p-checkbox formControlName="IsActive" binary="true" class="checkbox-container"></p-checkbox>
            </div>



        </form>
    </div>
    <ng-template pTemplate="footer">
        <div class="d-flex flex-row justify-content-between p-3">
            <button type="button" class="btn btn-secondary" (click)="closeForm()">Cancel</button>
            <button type="submit" class="btn btn-success" [disabled]="userForm.invalid"
                (click)="submit()">Submit</button>
        </div>
    </ng-template>
</p-dialog>