.tablehead{
    display: flex;
    justify-content: space-between;
}
.table-head{
    background-color: var(--color-default);
    color: white;
}
.isactivecol{
    display: flex;
    justify-content: center;
}
.checkbox-container {
    margin-left: 10px; /* Adjust this value as needed */
}