/* .tablehead{
    display: flex;
    justify-content: space-between;
}
.table-head{
    background-color: var(--color-default);
    color: white;
}
.isactivecol{
    display: flex;
    justify-content: center;
}
.checkbox-container {
    margin-left: 10px; 
}
.clearbtn{
    border-radius: 5px;
    margin-bottom: 10px;
} */


/* Add borders to create grid lines */
p-table table {
    border-collapse: collapse;
    width: 100%;
}

p-table table, p-table th, p-table td {
    border: 1px solid #ddd;
}

/* Center-align the content within the table cells */
p-table th, p-table td {
    text-align: center;
    vertical-align: middle;
    padding: 8px; /* Add padding for better spacing */
}

/* Additional styles to enhance the table appearance */
p-table th {
    background-color: var(--color-default);
    color: white;
    font-weight: bold;
}

p-table td {
    background-color: white;
}

.tablehead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.isactivecol {
    display: flex;
    justify-content: center;
}

.checkbox-container {
    margin-left: 10px; /* Adjust this value as needed */
}

.clearbtn {
    border-radius: 5px;
    margin-bottom: 10px;
}
